.header-info-section
{
    height: 20vh;
    width: 100%;
    background: #302e4d;
    display: inline-block;
    text-align: center;
    padding-top: 40px;
    color: var(--bg-black-100);
}

.bread-crumb
{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px 0px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.categories-list
{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px 0px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    width: 300px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-family: Arial, sans-serif;
    transition: transform 0.3s ease;
  }
  
  .card-header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background-color: #f9f9f9;
  }
  
  .card-image {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }
  
  .card-title {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
    flex: 1;
  }
  
  hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 0;
  }
  
  .card-categories {
    padding: 16px;
    background-color: #fff;
  }
  
  .card-categories ul {
    list-style: none;
    padding: 0px 10px 10px 10px;
    margin: 0;
  }
  
  .card-categories li {
    font-size: 1rem;
    color: #555;
    margin: 8px 0;
  }
  
  .card-categories li:hover {
    font-weight: 700;
    cursor: pointer;
  }

  .card .btn
  {
    width: 100%;
    text-align: center;
    background:rgb(237, 235, 235);
  }

  .card .btn:hover
  {
    transform: scale(1.05);
  }